---
const year = new Date().getFullYear();
---

<footer class="py-16 px-32 bg-white text-black border-t-2 border-black">
  <div
    class="max-w-screen-2xl mx-auto flex justify-between items-center text-xs uppercase tracking-widest font-bold"
  >
    <p class="opacity-60">© {year}</p>
    <p class="opacity-60">Built with Astro</p>
  </div>
</footer>
