---
interface Props {
  currentPage?: "home" | "portfolio" | "blog" | "about";
}

const { currentPage } = Astro.props;

const links = [
  { href: "/about", label: "About", page: "about" },
  { href: "/portfolio", label: "Portfolio", page: "portfolio" },
  { href: "/blog", label: "Blog", page: "blog" },
] as const;
---

<nav class="bg-white">
  <div
    class="max-w-[1400px] mx-auto px-8 md:px-16 lg:px-20 xl:px-24 h-8 lg:h-8 flex justify-between items-center"
  >
    <a
      href="/"
      class="text-[0.8125rem] font-bold tracking-[0.15em] uppercase hover:opacity-50 transition-opacity duration-200"
    >
      {currentPage !== "home" ? "Home" : "Your Name"}
    </a>
    <ul
      class="flex gap-8 md:gap-12 lg:gap-16 text-[0.8125rem] font-bold uppercase tracking-[0.15em]"
    >
      {
        links.map(({ href, label, page }) => (
          <li>
            <a
              href={href}
              class:list={[
                "transition-opacity duration-200",
                currentPage === page
                  ? "opacity-100"
                  : "opacity-50 hover:opacity-100",
              ]}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
